input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=datetime] {
  width: 290px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 290px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 250px;
  padding: 6px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  display: block;
  resize: horizontal;
  max-width: 500px;
  width: auto;
}