 /* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
      padding: 20px;
    line-height: 1.5; /* Increase line-height for more spacing between lines */
}

/* Class styles */
.user-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.course-list {
    margin-top: 10px;
}

.course-item {
    margin-bottom: 5px;
    color: #333;
}


/* Center the header tag */
header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}