/* supervisor.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

header {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

.content-section {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #f0f0f0;
}

th {
  border-bottom: 2px solid #ddd;
}

td {
  border-bottom: 1px solid #ddd;
}

.center-buttons {
  text-align: center;
}

.center-buttons .btn {
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
}
