<html>
{% extends 'base.html' %}

{% block content %}
    <body>
    <div style="text-align: left;">
    <meta charset="UTF-8">
    <title>Add Users</title>

<h1> Add User To Database</h1>
<br/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">

<form method="post" action={% url 'adduser' %}>
    {% csrf_token %}
    <p><input type="text" name = "username" class="form-control form-control" placeholder="Username"></p>
    <p><input type="password" name = "password" class="form-control form-control" placeholder="Password"></p>
    <p><input type="text" name = "fname" class="form-control form-control" placeholder="First Name"></p>
    <p><input type="text" name = "lname" class="form-control form-control" placeholder="Last Name"></p>
    <p><select name="role">
        <option selected> Role... </option>
    {% for role in role_choices %}
        <option value="{{ role.0 }}">{{ role.1 }}</option>
    {% endfor %}
    </select></p>
    <a href={% url 'supervisor' %}> <input type="submit" value="Submit" class="btn btn-primary"></a>
</form>
     <div class="course-list">
    List of Users:
    {% for user in users %}
        <p>{{ user.fname }} {{ user.lname }} - {{ user.role }}</p>
    {% empty %}
        <p>No users found.</p>
    {% endfor %}
</div>
    </div>
{% endblock %}
</body>
</html>