{% extends 'base.html' %}
{% block content %}
<body>
<div style=" text-align: left;">
<meta charset="UTF-8">
<title>Add Section</title><br>

<h1> Add Section To {{ name }}</h1>
<br/>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">

<form method="post" action="{% url 'addsection' name %}">
    {% csrf_token %}
    <label>Course Name:</label><br>
    <p><input type="text" name="course_name" class="form-control" value="{{ name }}" readonly></p><br>
    <label>Section Number:</label><br>
    <p><input type="number" name="sec_num" class="form-control" placeholder="123" required></p><br>

    <label>Lecture/Lab:</label><br>
    <p><select name="LecLab" required>
        {% for item in LecLab %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select></p><br>

    <label>Start Date:</label><br>
    <p><input type="datetime-local" name="start" class="form-control" required></p><br>
    <label>End Date:</label><br>
    <p><input type="datetime-local" name="end" class="form-control" required></p><br>

    <label>Credits:</label><br>
    <p><input type="number" name="credits" class="form-control" placeholder="4" required></p><br>

    <label>Instructor:</label><br>
    <p><select name="instructor">
        <option selected></option>
        {% for item in instructor_list %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select></p>

    <label>TA:</label><br>
    <p><select name="ta">
        <option selected></option>
        {% for item in ta_list %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select></p>

    <button type="submit" class="btn btn-primary">Add Section</button>
</form>
</div>
{% endblock %}
