{% extends 'base.html' %}
{% block content %}
<h2>Edit Skills</h2>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
    <br>
<form method="POST">
    {% csrf_token %}
    <label>
        <input type="checkbox" name="java_skill" {% if ta.java_skill %}checked{% endif %}>
        Java
    </label><br>
    <label>
        <input type="checkbox" name="python_skill" {% if ta.python_skill %}checked{% endif %}>
        Python
    </label><br>
    <label>
        <input type="checkbox" name="frontend_skill" {% if ta.frontend_skill %}checked{% endif %}>
        Frontend
    </label><br>
    <label>
        <input type="checkbox" name="backend_skill" {% if ta.backend_skill %}checked{% endif %}>
        Backend
    </label><br>
    <label>
        <input type="checkbox" name="scala_skill" {% if ta.scala_skill %}checked{% endif %}>
        Scala
    </label><br>
    <label>
        <input type="checkbox" name="discrete_math_skill" {% if ta.discrete_math_skill %}checked{% endif %}>
        Discrete Math
    </label><br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
