{% extends 'base.html' %}

{% block content %}
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <br>
    <meta charset="UTF-8">
    <br>
       <form method="post" action={% url 'edit' username %}>
           {% csrf_token %}
       
    {% if isUser %}
            <h3> Edit "{{ username }}"</h3>
        <br>
       <p><label>Username:</label><input type="text" id="text" name = "username" class="form-control form-control" 
                                         value="{{ username }}" required></p><br>
        
       <p><label>Password:</label><input type="text" id="text" name = "password" class="form-control form-control" 
                                         value="{{ username.password }}" required></p><br>
        
       <p><label>First Name:</label><input type="text" id="text" name = "fname" class="form-control form-control" 
                                           value="{{ username.fname }}" required></p><br>
        
       <p><label>Last Name:</label></lable><input type="text" id="text" name = "lname" class="form-control form-control" 
                                                  value="{{ username.lname }}" required></p><br>
        
        <p><label>Role: </label><select name="role"><option selected> {{ username.role }} </option>
    {% for role in role_choices %}
        {% if role != username.role %}
        <option value="{{ role }}">{{ role }}</option>
        {% endif %}
    {% endfor %}
    </select></p><br><br>

    {% elif isCourse %}
        <h3> Edit "{{ username.Course_name }}"</h3>
        <br>
        <p><label>Course Name:</label><input type="text" id="text" name = "CourseName" class="form-control form-control"
                                             value="{{ username.Course_name }}"></p><br>

       <p><label>Section:</label><input type="text" id="text" name = "section" class="form-control form-control"
                                         value="{{ username.section }}"></p><br>

       <p><label>Start Date:</label><input type="datetime" id="text" name = "start" class="form-control form-control"
                                           value="{{ username.start }}"></p><br>

       <p><label>End Date:</label></lable><input type="datetime" id="text" name = "end" class="form-control form-control"
                                                  value="{{ username.end }}"></p><br>

        <p><label>Credits:</label></lable><input type="number" id="text" name = "credits" class="form-control form-control"
                                                  value="{{ username.credits }}"></p><br>

       <label>Instructor: </label><p><select name="instructor"><option selected> {{ username.instructor }} </option>
    {% for instructor in instructor_list %}
        {% if instructor.username != username.instructor.username %}
        <option value="{{ instructor.username }}">{{ instructor.username }}</option>
        {% endif %}
    {% endfor %}
    </select></p>

     <label>TA:</label><p><select name="ta"><option selected>{{ username.ta }} </option>
    {% for ta in ta_list %}
        {% if ta.username != username.ta.username %}
        <option value="{{ ta.username }}">{{ ta.username }}</option>
        {% endif %}
    {% endfor %}
    </select></p>

       {% endif %}
       <input type="submit" value="Update" class="btn btn-primary"><br>
   </form>
</div>
{% endblock %}