{% extends 'base.html' %}

{% block title %}
    Supervisor Page
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Supervisor Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'super.css' %}">
</head>
<body>
    <header>Supervisor Homepage</header>
    <h3>Hello {{ user.fname }} {{ user.lname }}</h3>
    <br>
            <div style="text-align: left;">
</head>
            
<div class="w-90 p-3">
  <h4>Course List:</h4>
  <table>
    <thead>
      <tr>
          <th>Course Name</th>
          <th>Meet Type</th>
          <th>Sections</th>
          <th>Actions</th>
      </tr>
    </thead>
      <tbody>
            {% for course in course_list %}
                <tr>
                <td>{{ course.Course_name }}</td>
                <td>{{ course.MeetType }}</td>
                <td>
                {% for section in section_list %}
                    {% if section.Course.Course_name == course.Course_name %}
                        <a href="#">{{ section.section_number }}</a>
                    {% endif %}
                {% endfor %}
                </td>
                <td><a class="btn btn-primary" href="{% url 'edit' course.Course_name %}" role="button">Update</a>
                    <a class="btn btn-danger" href="{% url 'delete' course.Course_name %}" role="button">Delete</a>
                    <a class="btn btn-info" href="#">View</a></td>
                </tr>
            {% endfor %}
                </tbody>
    </table>
        <br>
</div>

</head>
<div class="w-75 p-3">
  <h4>User list:</h4>
  <table>
    <thead>
      <tr>
         <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
          <th>Role</th>
          <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for item in user_list %}
      <tr>
        <td>{{ item.username }}</td>
        <td>{{ item.fname }}</td>
        <td>{{ item.lname }}</td>
        <td>{{ item.role }}</td>
          <td><a class="btn btn-primary" href="{% url 'edit' item.username %}" role="button">Update</a>
              <a class="btn btn-danger" href="{% url 'delete' item.username %}" role="button">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
    </div>
</body>
{% endblock %}
